{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Criação de um novo frete {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="execution_date">Data de Execução</label>
        <input type="date" name="execution_date"
               placeholder="Insira a data de execução" class="form-control"
               value="{{ request.form['execution_date'] }}"></input>
    </div>

    <div class="form-group">
    <div class="form-group">
        <label for="client">Cliente</label>
        <input type="text" name="client"
               placeholder="Insira o cliente" class="form-control"
               value="{{ request.form['client'] }}"></input>
    </div>

    <div class="form-group">
        <label for="destination">Destino</label>
        <input type="text" name="destination"
               placeholder="Insira o destino" class="form-control"
               value="{{ request.form['destination'] }}"></input>
    </div>

    <div class="form-group">
        <label for="value">Valor</label>
        <input type="number" name="value"
               placeholder="Insira o valor" class="form-control"
               value="{{ request.form['value'] }}"></input>
    </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}